*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/errors/*.log
.github
.specify
.agents
AGENTS.md
docs
.vscode
specs
plan.md

# Kotlin / Android
build/
out/
*.class
*.jar
*.log
.env*